@import '@/styles/variables';
@import '@/styles/mixins';

.ColorList {
  padding: 16px;
  &__header {
    padding: 0 0 toRem(16);
  }
}

.ColorRow {
  padding: toRem(16) 0;
  width: auto;
  @include large {
    width: toRem(450);
  }
  cursor: pointer;
  border-top: 1px solid $te-light-grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: $brandcolor-secondary-grey;
  }
}
