@import '@/styles/variables';
@import '@/styles/mixins';

.buttonContainer {
  display: flex;
  gap: 16px;
}

.notificationContainer {
  @include flex-center;
  color: $white;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background-color: $alert-color;
  position: absolute;
  top: 11px;
  right: 0px;
}

.typoContainer {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: flex-start;
}

.AppBarContainer {
  box-shadow: none !important;
  border-radius: 0 !important;
  @include large {
    border: 1px solid $gray1;
  }
}

.innerMenu {
  padding: 0;
  position: relative;
  width: 100%;
  @include large {
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #cccdcd;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &__wrapper {
    height: 100vh;
    justify-content: space-between;
    padding: 70px 0 0;
  }
  &__list_item {
    padding: 0 16px 0;
    .MuiListItemIcon-root {
      min-width: 26;
    }
    &:hover {
      color: $primary-color;
    }
    &__highlight {
      padding: 16px;
      color: $white;
      background-color: $primary-color;
      &:hover {
        color: $white;
      }
    }
  }
  &__divider {
    width: 90%;
    @include large {
      width: 80%;
    }
  }
  &__icon_exit_first {
    position: absolute;
  }
  &__icon_exit_arrow {
    position: absolute;
    background-color: $primary-color;
    top: -11px;
    left: 0px;
    padding: 5px 0;
  }
  &__icon_exit {
    top: 16px;
    left: 16px;
    position: absolute;
  }
}
