@import 'variables';

/* Define Sass mixins for media queries */
@mixin small {
  @media (max-width: $break-point-size-sm) {
    @content;
  }
}

@mixin medium {
  @media (min-width: ($break-point-size-sm + 1)) and (max-width: $break-point-size-md) {
    @content;
  }
}

@mixin large {
  @media (min-width: ($break-point-size-lg + 1)) {
    @content;
  }
}

/* Px to Rem
-------------------------*/
@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin toRem($property, $value) {
  #{$property}: ($value / 16) + rem;
}

/* Text overflow
-------------------------*/
@mixin text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Flexbox 
-------------------------*/
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* centering 
-------------------------*/
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ellipsis($max-width: 20ch) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: $max-width;
}
