/* font sizes*/

$primaryLight: #2496ff;
$secondaryBlue: #618de6;
$primary-color: #5471a8;
$primary-navy: #072441;
$highligh-background: #ccd4e5;
$highligh-background2: #e6eefe;
$alert-color: #e07a1f;
$sucess-color: #1d891d;
$white: #ffffff;
$black: #000;
$primaryBlack: '#010407';
$gray1: #cccccc;
$gray2: #d9d9d9;
$gray3: #cccdcd;
$gray4: E5EEFE;
$grayDark: #70777f;
$grayLight: #efefef;

/* Desktop sizes */
$size-sm: 12px;
$size-md: 16px;
$size-lg: 20px;
$size-xl: 24px;

/* Define your breakpoints */
$break-point-size-xs: 0px;
$break-point-size-sm: 640px;
$break-point-size-md: 980px;
$break-point-size-lg: 1024px;
$break-point-size-xl: 1200px;
