@import '@/styles/_colorVariables.module';
@import '@/styles/_mediaVariables.module';

/* Desktop sizes */
$size-sm: 12px;
$size-md: 16px;
$size-lg: 20px;
$size-xl: 24px;

/* Define your breakpoints */
$break-point-size-xs: 0px;
$break-point-size-sm: 640px;
$break-point-size-md: 980px;
$break-point-size-lg: 1024px;
$break-point-size-xl: 1200px;

/*Rem size*/
$base-font-size: 16px; // Define your base font size here
