@import '@/styles/variables';
@import '@/styles/mixins';
@import '@/styles/_colorVariables.module';

.editor {
  position: relative;
  min-height: calc(100vh - 150px); // screen size minus controls elements
  background-color: $brandcolor-gray-light;
  overflow: scroll;
  display: inline-block;
  width: 100%;

  @include large {
    min-height: calc(100vh - 220px); // screen size minus controls elements
    width: calc(100% - 108px); // width of the lateral side menu
  }
  &__isolated_active {
    width: 100%;
  }
}
