@import '@/styles/variables';
@import '@/styles/mixins';

.navigation {
  &__mobile {
    &__wrapper {
      padding: 8px 16px;
      gap: 16px;
      justify-content: space-between;
      flex-direction: column;
    }
    &__buttons {
      flex-direction: row;
      justify-content: space-between;
    }
    &__select {
      align-items: center;
      flex-direction: row;
      justify-content: center;
      max-width: 40%;
      gap: 8px;
      text-align: center;
      @include small {
        max-width: 40%;
      }
    }
    &__icon {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background-color: $brandcolor-darker-grey;
      &.is_done {
        background-color: $brandcolor-bright-blue;
      }
      &__small {
        width: 20px;
        height: 20px;
        background-color: $te-light-grey;
      }
    }
    &__subStep {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 9px;
      padding: 10px 0;
      border-bottom: 1px solid $te-light-grey;
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__desktop {
    gap: 8px;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    height: 75px;
    transition: height 0.3s, padding 0.3s;
    border-bottom: 1px solid $te-light-grey;
    &__isolated_mode {
      height: 0;
      padding: 0;
      overflow: hidden;
      transition: height 0.3s, padding 0.3s;
      border-bottom: none;
    }
  }
  &__buttons {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    &__btn {
      cursor: pointer;
      padding: 4px 12px !important;
      width: 120px;
      @include small {
        max-width: 25%;
      }
      &__text {
        max-width: 90px;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }
      &:first-child {
        justify-content: flex-start;
      }
      &:last-child {
        justify-content: flex-end;
      }
    }
  }
  &__steps {
    flex-grow: 20;
    gap: 8px;
    justify-content: center;
  }
  &__step {
    flex-grow: 1;
    text-align: center;
    &:first-of-type {
      flex-grow: 1.5;
    }
    &__bar {
      height: 6px;
      border-radius: 100px;
      background: $brandcolor-ice;
    }
  }
}
