@import '@/styles/variables';
@import '@/styles/mixins';

.sideIconMenu {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-top: none;
  z-index: 1;
  width: 100%;
  max-width: 100vh;
  padding: 16px;
  @include large {
    width: 108px;
    padding: 32px 16px;
    position: relative;
    flex-direction: column;
    border: 1px solid #cccdcd;
    border-left: none;
    height: calc(100vh - 141px);
    transition: width 0.3s, padding 0.3s;
  }
  &__isActive {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: width 0.3s, padding 0.3s;
  }
}

.sideIconMenuInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100vh;
  overflow-x: auto;
  gap: 32px;
  font-size: 32px;
  @include large {
    width: auto;
    flex-direction: column;
  }
}

.helpContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  border-top: 1px solid $gray3;
  @include large {
    display: flex;
  }
}

.iconContainer {
  cursor: pointer;
  display: flex;
  gap: 4px;
  align-items: center;
  flex-direction: column;
}

.helpContainer,
.iconContainer {
  i {
    font-size: 30px;
    color: $grayDark;
  }
  &:hover,
  &.active {
    i,
    h6 {
      color: $primaryLight;
    }
  }
}
